body {
    margin: 0;
    padding: 0;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000;
}
.main img {
    position: fixed;
    height: 100%;
    object-fit: scale-down;
}
.animateImg1 {
    animation: animate1 7s linear infinite;
    z-index: 0;
}
@keyframes animate1 {
    from { 	transform: rotate(0deg) translateX(2px); }
	to   {  transform: rotate(360deg) translateX(2px) rotate(-360deg); }
}
.animateImg2 {
    animation: animate2 5s linear infinite;
    z-index: 0;
}
@keyframes animate2 {
    from { 	transform: rotate(0deg) translateX(-3px); }
	to   {  transform: rotate(-360deg) translateX(-3px) rotate(360deg); }
}
